/* Basic styles for clarity */
.float-box, .flex-item, .grid-item {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.clear {
  border: 2px solid red;
}

/* Float Section */
.float-section {
    float: left;
    /* Apply step 1 here */
}

.clear-float {
 clear:both;
}

/* Flexbox Section */
.flex-section {
display: flex; 
justify-content: space-around;
    
}

.flex-item {
    /* Apply step 4 here */
 

}

/* Grid Section */
.grid-section {
  height: 300px;
  grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
}

.grid-item {
  
}
.grid-item-1{
    grid-column-start:1 ;
     grid-column-end:  2;
    grid-row:1;
}
.grid-item-2{
    grid-column-start:2 ;
     grid-column-end:  3;
    grid-row:2;
}
.grid-item-3{
    grid-column-start:3;
     grid-column-end:  4;
    grid-row:3;
}
.grid-item-4{
    grid-column-start:4 ;
     grid-column-end:  5;
    grid-row:4;
}
.grid-item-5{
    grid-column-start:5 ;
     grid-column-end:  6;
    grid-row:5;
}
.grid-item-6{
    grid-column-start:6 ;
     grid-column-end:  7;
    grid-row:6;
}
